<form [formGroup]="itemForm" (ngSubmit)="submit()" class="max-w-lg mx-auto p-6 bg-white rounded-xl shadow-md space-y-6">
  <h2 class="text-2xl font-semibold text-gray-700 mb-4">Transport Estimator</h2>

  <!-- Name -->
  <div class="flex flex-col">
    <label class="mb-1 font-medium text-gray-600">Name</label>
    <input 
        type="text" 
        formControlName="name" 
        class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
        placeholder="Enter item name"
        [class.border-red-500]="itemForm.get('name')?.invalid && itemForm.get('name')?.touched"
    />
  </div>

  <div class="flex flex-col">
    <label class="mb-1 font-medium text-gray-600">Width</label>
    <input 
        type="text" 
        formControlName="width"
        class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
        placeholder="0"
    >
    
  </div>

  <!-- Length -->
  <div class="flex flex-col">
    <label class="mb-1 font-medium text-gray-600">Length [mm]</label>
    <input 
        type="number" 
        formControlName="length" 
        class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
        placeholder="0"
        [class.border-red-500]="itemForm.get('length')?.invalid && itemForm.get('length')?.touched"
    >
  </div>

  @if (itemForm.get('length')?.invalid && itemForm.get('length')?.touched) {
      <p
        class="text-red-500 text-sm -mt-5"
      >
        Length is required
      </p>
    }
  

  <!-- Submit Button -->
  <button type="submit" 
          class="w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md shadow-sm transition"
          (click)="submit()"
  >
    Calculate Transport Cost
  </button>
</form>

<div class="flex flex-col gap-2">
    Estimated transport cost is {{calculateTransportCost(itemForm.value.gridWidth, itemForm.value.gridLength) | currency:'PLN':'symbol':'1.2-2':'pl' }}
    @for (item of  createArray(itemForm.value.gridWidth); track $index) {
      <div class="flex gap-2">
        @for (item of createArray(itemForm.value.gridLength); track $index) {
          <div class="w-10 h-10 bg-green-300 rounded-md"></div>
        }
      </div>
    }
</div>